@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 197 52% 99%;
    --foreground: 197 77% 0%;
    --muted: 17 5% 89%;
    --muted-foreground: 17 13% 30%;
    --popover: 197 52% 99%;
    --popover-foreground: 197 77% 0%;
    --card: 197 52% 99%;
    --card-foreground: 197 77% 0%;
    --border: 197 13% 93%;
    --input: 197 13% 93%;
    --primary: 197 68% 53%;
    --primary-foreground: 0 0% 0%;
    --secondary: 17 68% 53%;
    --secondary-foreground: 0 0% 0%;
    --accent: 17 68% 53%;
    --accent-foreground: 0 0% 0%;
    --destructive: 1 86% 27%;
    --destructive-foreground: 1 86% 87%;
    --ring: 197 68% 53%;
    --chart-1: 197 68% 53%;
    --chart-2: 17 68% 53%;
    --chart-3: 17 68% 53%;
    --chart-4: 17 68% 56%;
    --chart-5: 197 71% 53%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 197 40% 4%;
    --foreground: 197 11% 99%;
    --muted: 17 5% 11%;
    --muted-foreground: 17 13% 70%;
    --popover: 197 40% 4%;
    --popover-foreground: 197 11% 99%;
    --card: 197 40% 4%;
    --card-foreground: 197 11% 99%;
    --border: 197 13% 10%;
    --input: 197 13% 10%;
    --primary: 197 68% 53%;
    --primary-foreground: 0 0% 0%;
    --secondary: 17 68% 53%;
    --secondary-foreground: 0 0% 0%;
    --accent: 17 68% 53%;
    --accent-foreground: 0 0% 0%;
    --destructive: 1 86% 54%;
    --destructive-foreground: 0 0% 100%;
    --ring: 197 68% 53%;
    --chart-1: 197 68% 53%;
    --chart-2: 17 68% 53%;
    --chart-3: 17 68% 53%;
    --chart-4: 17 68% 56%;
    --chart-5: 197 71% 53%;
  }
}
