@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 216 57% 100%;
    --foreground: 216 73% 0%;
    --muted: 216 11% 92%;
    --muted-foreground: 216 2% 29%;
    --popover: 216 57% 100%;
    --popover-foreground: 216 73% 0%;
    --card: 216 57% 100%;
    --card-foreground: 216 73% 0%;
    --border: 216 13% 92%;
    --input: 216 13% 92%;
    --primary: 216 100% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 216 6% 85%;
    --secondary-foreground: 216 6% 25%;
    --accent: 216 16% 77%;
    --accent-foreground: 216 16% 17%;
    --destructive: 17 96% 43%;
    --destructive-foreground: 0 0% 100%;
    --ring: 216 100% 58%;
    --chart-1: 216 100% 58%;
    --chart-2: 216 6% 85%;
    --chart-3: 216 16% 77%;
    --chart-4: 216 6% 88%;
    --chart-5: 216 103% 58%;
    --radius: 0.5rem;
    --sidebar-background: hsl(var(--background));
    --sidebar-foreground: hsl(var(--foreground));
    --sidebar-primary: hsl(var(--primary));
    --sidebar-primary-foreground: hsl(var(--primary-foreground));
    --sidebar-accent: hsl(var(--accent));
    --sidebar-accent-foreground: hsl(var(--accent-foreground));
    --sidebar-border: hsl(var(--border));
    --sidebar-ring: hsl(var(--ring));
  }

  .dark {
    --background: 216 37% 2%;
    --foreground: 216 39% 98%;
    --muted: 216 11% 8%;
    --muted-foreground: 216 2% 71%;
    --popover: 216 37% 2%;
    --popover-foreground: 216 39% 98%;
    --card: 216 37% 2%;
    --card-foreground: 216 39% 98%;
    --border: 216 13% 13%;
    --input: 216 13% 13%;
    --primary: 216 100% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 216 2% 15%;
    --secondary-foreground: 216 2% 75%;
    --accent: 216 7% 21%;
    --accent-foreground: 216 7% 81%;
    --destructive: 17 96% 51%;
    --destructive-foreground: 0 0% 100%;
    --ring: 216 100% 58%;
    --chart-1: 216 100% 58%;
    --chart-2: 216 2% 15%;
    --chart-3: 216 7% 21%;
    --chart-4: 216 2% 18%;
    --chart-5: 216 103% 58%;
    --sidebar-background: hsl(var(--background));
    --sidebar-foreground: hsl(var(--foreground));
    --sidebar-primary: hsl(var(--primary));
    --sidebar-primary-foreground: hsl(var(--primary-foreground));
    --sidebar-accent: hsl(var(--accent));
    --sidebar-accent-foreground: hsl(var(--accent-foreground));
    --sidebar-border: hsl(var(--border));
    --sidebar-ring: hsl(var(--ring));
  }
}
